<mat-toolbar color="primary" >
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/profile">Profile</button>
  <button [matMenuTriggerFor]="importMenu" mat-button>
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/loadStudents">Load Students</button>
    <button mat-menu-item routerLink="/loadPayments">Load Payments</button>
  </mat-menu>
  <button mat-raised-button routerLink="/login">Login</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened >
    <mat-nav-list >
      <mat-list-item routerLink="/dashboard">
        <button mat-button style="color:rgba(0,0,0,0.75)">
          <mat-icon >dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/professor">
        <button mat-button  style="color:rgba(0,0,0,0.75)">
          <mat-icon >assignment_ind</mat-icon>
          Professors
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/student">
        <button mat-button  style="color:rgba(0,0,0,0.75)">
          <mat-icon >assignment_ind</mat-icon>
          Students
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/payments">
        <button mat-button style="color:rgba(0,0,0,0.75)">
          <mat-icon >payment</mat-icon>
          Payments
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button style="color:rgba(0,0,0,0.75)">
          <mat-icon>backspace</mat-icon>
          LogOut
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height:600px;background-color:#efefef">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
